
		h1   { font: 700 2rem/1.2 "Roboto"; color: hsl(000, 0%, 33%) }
		h3   { font: 400 1.25rem/1.2 "Roboto"; color: hsl(210, 100%, 33%) }
		time { font: 700 1.0rem/1.2 "Roboto"; color: hsl(000, 0%, 33%) }
		p    { font: 400 1.0rem/1.2 "Roboto"; color: hsl(000, 0%, 0%) }

.preview-text{ font: 400 1.0rem/1.2 "Roboto"; color: hsl(000, 0%, 0%) }
h2 {margin-top: 2.4rem;}
h3:nth-of-type(n+2){margin-top: 2.4rem; }

.links{ color: hsl(135, 100%, 30%);}

.post {
	width: 55%;
	height: 180px;
	margin: 10px auto;
	border-radius: 5px;
	background: white;
	position: relative;
}

.post-title {
position: absolute;
top: 10px;

}

.warning {

color: red;


}
.btn {
padding: .5rem 1rem;
background: #006669;
color: white;
border: 1px solid transparent;
border-radius: .25rem;
}

.read-more{
position: absolute;
bottom: 10px;
right: 10px;

}
body {
background-color: #f6f6f6;
}

a {
	text-decoration: underline;
}

table, th, td {
  border: 1px solid black;
}
@media (min-width: 8.5in) { :root { font-size: 18px; } }
@media (max-width: 5.0in) { :root { font-size: 16px; } }
